<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yanhuo.sign.dal.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis-mapper/CourseMapper.xml"/>
        <mapper resource="mybatis-mapper/SignMapper.xml"/>
        <mapper resource="mybatis-mapper/StudentInfoMapper.xml"/>
        <mapper resource="mybatis-mapper/TeacherSignRecordMapper.xml"/>
        <mapper resource="mybatis-mapper/UserMapper.xml"/>
        <mapper resource="mybatis-mapper/ext/CourseExtMapper.xml"/>
        <mapper resource="mybatis-mapper/ext/SignExtMapper.xml"/>
        <mapper resource="mybatis-mapper/ext/StudentInfoExtMapper.xml"/>
        <mapper resource="mybatis-mapper/ext/TeacherSignRecordExtMapper.xml"/>
        <mapper resource="mybatis-mapper/ext/UserExtMapper.xml"/>

    </mappers>
</configuration>
