<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">签到系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="toTeacherInfo">修改密码</a></li>
                <li><a th:href="@{loginOut}" th:unless="${session.user == null}">退出登录</a></li>

            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..."/>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>


    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/toTeacherAdmin">开始点到</a></li>
                <li class="active"><a href="selectSignDetail">签到明细查询 <span class="sr-only">(current)</span></a></li>
                <li><a href="/signResultAccount">签到结果汇总统计</a></li>
                <li><a href="/courseInfo">课程管理</a></li>
                <li><a href="/toExcel">学生信息导入</a></li>
            </ul>

        </div>

        <div class="col-md-9">
            <div class="row">

                <form class="form-inline">
                    选择课程：
                    <select class="form-control" id="selectCourse">

                    </select>

                    选择班级：
                    <select class="form-control" id="selectClass">

                    </select>

                    选择签到场次：
                    <select class="form-control" id="signNo">

                    </select>

                    <button type="button" class="btn btn-info" onclick="search()">点击搜索</button>
                </form>


            </div>


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>开启签到时间</th>
                        <th>学生</th>
                        <th>所属班级</th>
                        <th>课程名称</th>
                        <th>课程地点</th>
                        <th>完成签到时间</th>
                        <th>是否签到</th>
                        <th>授课教师</th>
                        <th>第几次签到</th>
                    </tr>
                    </thead>
                    <tbody id="tab">

                    </tbody>
                </table>
                <ul class="pagination pull-right" id="pagination1">


                </ul>


                <script src="../../static/js/jqPaginator.js" th:src="@{/js/jqPaginator.js}"></script>

                <script>
                    /* <![CDATA[ */
                    $.ajax({
                        url: "/getCourse",
                        type: "get",
                        dataType: "json",
                        contenttype: "application/json",
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                $("#selectCourse").append('<option>' + data[i].cName + '</option>');
                            }


                        }
                    })



                    $.ajax({
                        url: "/getClass",
                        type: "get",
                        dataType: "json",
                        contenttype: "application/json",
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                $("#selectClass").append('<option>' + data[i] + '</option>');
                            }


                        }
                    })



                    $.ajax({
                        url: "/getRecord",
                        type: "get",
                        dataType: "json",
                        contenttype: "application/json",
                        success: function (data) {
                            for (var i = 1; i <data; i++) {
                                $("#signNo").append('<option>' + i + '</option>');
                            }


                        }
                    })

                    page('','','');


                    function page(course, sClass, SignNo) {


                        $.jqPaginator('#pagination1', {
                            totalPages: 4,
                            visiblePages: 4,
                            currentPage: 1,
                            prev: '<li class="prev"><a href="javascript:;">Previous</a></li>',
                            next: '<li class="next"><a href="javascript:;">Next</a></li>',
                            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',

                            onPageChange: function (num, type) {
                                $.ajax({
                                    url: "/querySignDetail?course=" + course + "&sClass=" + sClass + "&SignNo=" + SignNo+"&current="+num,
                                    type: "get",
                                    success: function (data) {

                                        $('#pagination1').jqPaginator('option', {
                                            currentPage: data.currentPage,
                                            totalPages: data.totalCount
                                        });

                                        $("#tab").html("<div></div>");



                                        for (var i = 0; i < data.data.length; i++) {

                                           var id= data.data[i].signId;

                                            $("#tab").append(
                                                '<tr>' +'<td>'+data.data[i].signId+'</td>'+
                                                '<td>'+data.data[i].beginSignTime+'</td>'+
                                                '<td>'+data.data[i].sName+'</td>'+
                                                '<td>'+data.data[i].sClass+'</td>'+
                                                '<td>'+data.data[i].cName+'</td>'+
                                                '<td>'+data.data[i].cLocation+'</td>'+
                                                '<td>'+data.data[i].signTime+'</td>'+
                                                '<td>'+data.data[i].isSign+'</td>'+
                                                '<td>'+data.data[i].tName+'</td>'+
                                                '<td>'+data.data[i].signNum+'</td>'+

                                                '</tr>'




                                            )




                                        }


                                    }
                                });


                            }


                        });
                    }





                    function search(){

                        var selectCourse=$("#selectCourse").val();
                        var selectClass=$("#selectClass").val();
                        var signNo=$("#signNo").val();


                            //调用分页搜索
                        page(selectCourse,selectClass,signNo);

                    }

                    /* ]]> */
                </script>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->


</body>
</html>
